
/*estilos especiales*/
body{
	background: rgba(109, 110, 106, 0.2);
}
.border {
	border: 1px solid
}
/*Contenedor*/
.container{
	background: rgba(109, 110, 106, 0.4);
}
/*Titulos*/
h4 {
	text-align: center;
}

/*datos personales*/
.col-izq {
	padding: 0 0 0 250px;
}
a {
	/*text-decoration: none;*/
	color: #000000;
}

/*estudios*/
.col-izq-e {
	padding: 0 0 0 250px;
}
.col-der-e {
	padding: 0 32px 0 0;
}

/*Firma*/
h5.firma {
	text-align: center;
	text-decoration-line: overline;
}
h5 {
	text-align: center;
}